/*長版圖用*/
.title{
    display: flex;
    margin-top: 3%;
    margin-left:1.5%;
    margin-right:1.5%;
    border-bottom: solid #858585bc 1px;
}
.label{
    margin-right: 50px;
    height: 45px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1.2px;
}
.labeldel{
    position: absolute;right:75px;top:28px;
    font-family:sans-serif;
    font-weight: bolder;
    font-stretch: extra-expanded;
    font-size: 400%;
    letter-spacing: 4px;
}
.pc{
    display: block;
}
.mobile{
    display: none;
}
.blink{
    margin-right: 50px;
    height: 45px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1.2px;
    animation: blink 2s infinite;
}
a{
    text-decoration: none;
    color: rgb(49, 49, 49);
}
.body{
    display: flex;
    flex-wrap: wrap;
}
.pic{
    margin: 1% 9%;
    height:15%;
}
.intro{
    width: 20%;
    margin: 15% 3%;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    line-height: 35px;
    color: rgba(80, 80, 80, 0.932);
    animation: fadin 1.2s;
}
@keyframes blink{
    0%{opacity:0.2}
    50%{opacity:1}
    100%{opacity:0.2}
 }
 @keyframes fadin{
    0%{opacity:0;transform:translate(-60px,0);}
    100%{opacity:1;transform: translate(0,0);}
 }
@media (max-width:1250px){
    .label{
        margin-right: 3.5%;
        letter-spacing: 1px;
        font-size: 1em;
        height: 40px;
    }
    .labeldel{
        position: absolute;right:20px;top:1%;
        font-size: 350%;
        margin-left: 6%;
        letter-spacing: 4px;
    }
    .title{
        margin-top: 30px;
        margin-right: 18%;
        flex-wrap:wrap;
    }
    .blink{
        margin-right: 30px;
        height: 45px;
        font-size: 1em;
        letter-spacing: 1px;
    }
    .pic{
        width: 60%;
    }
    .intro{
        width: 40%;
        margin: 1.5% 3%;
        white-space:nowrap;
    }
}
@media (max-width:500px){
    .labeldel{
        position: absolute;right:10px;top:3%;
        font-size: 180%;
        letter-spacing: 2px;
    }
    .intro{
        width: 300px;
        white-space: normal;
        margin: 1.5% 12%;
    }
    .pic{
        width: 80%;
    }
    .pc{
        display: none;
    }
    .mobile{
        display: block;
    }
}
