.title{
    display: flex;
    margin-top: 3%;
    margin-left:1.5%;
    margin-right:1.5%;
    border-bottom: solid #858585bc 1px;
}
.label{
    margin-right: 50px;
    height: 45px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1.2px;
}
.labeldel{
    position: absolute;right:75px;top:28px;
    font-family:sans-serif;
    font-weight: bolder;
    font-stretch: extra-expanded;
    font-size: 400%;
    letter-spacing: 4px;
}
.blink{
    margin-right: 50px;
    height: 45px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1.2px;
    animation: blink 2s infinite;
}
a{
    text-decoration: none;
    color: rgb(49, 49, 49);
}
.body{
    display: flex;
    flex-wrap: wrap;
}
.pic{
    width:40%;
}
.container {
    position: relative;
    margin:6.5% 9%;
    width: 700px;
    height: 480px;
    overflow: hidden;
}

.container .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.container .wrapper .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    opacity: 0;
    transition: all .3s;
}
.container .wrapper .slider:nth-child(1) {
    opacity: 1;
    z-index: 1;
}

.container .wrapper .slider img {
    width: 100%;
    height: 100%;
}
.pagination {
    position: absolute;
    z-index: 999;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    font-size: 0;
    border-radius: 26px;
}

.pagination li {
    display: inline-block;
    margin: 0 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.534);
    cursor: pointer;
}

.pagination li.active {
   background: rgba(105, 102, 102, 0.534);
}
.arrow {
    display: none;
    position: absolute;
    z-index: 999;
    top: 46%;
    margin-top: -22.5px;
    width: 49px;
    height: 80px;
    background: url("./visual design/ar.png") no-repeat 0 0;
}

.arrow.changeLeft {
   left: 0;
}

.arrow.changeRight {
    right: 0;
    background-position: -915px 8px;
}

.container:hover .arrow {
   display: block;
}
.intro{
    width: 20%;
    margin: 15% 3%;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    line-height: 35px;
    color: rgba(80, 80, 80, 0.932);
    animation: fadin 1.2s;
}
@keyframes blink{
    0%{opacity:0.2}
    50%{opacity:1}
    100%{opacity:0.2}
 }
 @keyframes fadin{
    0%{opacity:0;transform:translate(-60px,0);}
    100%{opacity:1;transform: translate(0,0);}
 }
@media (max-width:1250px){
    .label{
        margin-right: 3.5%;
        letter-spacing: 1px;
        font-size: 1em;
        height: 40px;
    }
    .labeldel{
        position: absolute;right:20px;top:1%;
        font-size: 350%;
        margin-left: 6%;
        letter-spacing: 4px;
    }
    .title{
        margin-top: 30px;
        margin-right: 18%;
        flex-wrap:wrap;
    }
    .blink{
        margin-right: 30px;
        height: 45px;
        font-size: 1em;
        letter-spacing: 1px;
    }
    .intro{
        width: 40%;
        margin: 1.5% 16%;
    }
    .container {
        margin:6.5% 6%;
        width: 480px;
        height: 300px;
    }
}
@media (max-width:500px){
    .labeldel{
        position: absolute;right:10px;top:6%;
        font-size: 280%;
        letter-spacing: 2px;
    }
    .container {
        margin:6.5% 6%;
        width: 320px;
        height: 200px;
    }
    .intro{
        width: 80%;
        margin: 1.5% 16%;
    }
}